name: Open pull request to main branches
on:
  pull_request:
    branches:
      - main
jobs:
  pr-check:
    name: Main pull request
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.17.1'
          cache: 'yarn'
      - name: Cache node_modules
        uses: actions/cache@v4
        id: cache-node-modules
        with:
          path: node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('yarn.lock') }}
      - name: Install dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: make install-ci
      - name: Prettier check, Eslint check, Typescript check
        run: make code-quality-check
      - name: Run tests
        run: make test-coverage
      - name: Post test coverage comment
        uses: MishaKav/jest-coverage-comment@main
